{% extends "layout.html" %}

{% block title %}
    Car List
{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to car management app</h1>
    <a class="btn btn-primary mb-4" href="{% url "add_car" %}">Add a Car</a>
    <div class="container row gap-3">
        {% for car in cars %}
        <div class="card" style="width: 18rem;">
            <img src="{{car.photo.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{car.user.username}}</h5>
              <p class="card-text">
                {{car.make}} {{car.model}} {{car.year}}
              </p>
              {% if car.user == user %}
                <a href="{% url "edit_car" car.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url "delete_car" car.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}